{% from "macros/task-display.njk" import taskDisplay %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}

{{ govukButton({
      id: "create-button",
      text: "Create a new Task",
      href: "/create-task"
    }) }}

<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-!-padding-bottom-2"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    
    <h3 class="govuk-heading-m">Find a task</h3>

    <div class="govuk-form-group">
      <label class="govuk-label" for="task-id">
        Task ID
      </label>
      <p id="task-id-error" class="govuk-error-message" style="display: none;">
        <span class="govuk-visually-hidden">Error:</span> Enter a valid Task ID
      </p>
      <input class="govuk-input" id="task-id" name="taskId" type="number" aria-describedby="task-id-hint task-id-error">
    </div>

    {{ govukButton({
      id: "find-button",
      text: "Find"
    }) }}

  </div>
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if isOk %}

      {% if tasks %}
        {% for task in tasks %}
          <div class="govuk-accordion__section">
            {{ taskDisplay(task) }}
          </div>
        {% endfor %}

      {% else %}
        <p> No tasks found </p>
      {% endif %}

    {% else %}

      <p>API Error</p>

    {% endif %}
  </div>
</div>

<script>
  const taskIdInput = document.getElementById('task-id');
  const findButton = document.getElementById('find-button');
  const errorMessage = document.getElementById('task-id-error');
  const formGroup = taskIdInput.closest('.govuk-form-group');

  findButton.addEventListener('click', function() {
    
    const inputValue = taskIdInput.value.trim();

    if (inputValue !== "") {
      
      window.location.href = `/show-task/${inputValue}`;

    } else {
      errorMessage.style.display = "block";
      formGroup.classList.add('govuk-form-group--error');
      taskIdInput.classList.add('govuk-input--error');
    }
  });
</script>

{% endblock %}
