{% from "task-display.njk" import taskDisplay %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">HMCTS Task Management</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    
    <h3 class="govuk-heading-m">Find a task</h3>

    {{ govukInput({
      label: {
      text: "Task ID"
    },
      id: "task-id",
      name: "taskId"
    }) }}

    {{ govukButton({
      text: "Find"
    }) }}

  </div>
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if isOk %}

      {% if tasks %}
        {% for task in tasks %}
          <div class="govuk-accordion__section">
            {{ taskDisplay(task) }}
          </div>
        {% endfor %}

      {% else %}
        <p> No tasks found </p>
      {% endif %}

    {% else %}

      <p>Error: Not Found</p>

    {% endif %}
  </div>
</div>


{% endblock %}
