{% from "task-display.njk" import taskDisplay %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">HMCTS Task Management</h1>


{% if isOk %}
  {% if tasks %}
    {% for task in tasks %}
      <div class="govuk-accordion__section">
        {{ taskDisplay(task) }}
      </div>
    {% endfor %}

  {% else %}
    <p> No tasks found </p>
  {% endif %}

{% else %}

  <p>Error: Not Found</p>

{% endif %}

{% endblock %}
