{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">Task {{ taskId }} Deleted</h1>

  {{ govukButton({
         text: "Home Page",
         href: "/"
  }) }}
{% endblock %}
