{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">No Task found with ID: {{ taskId }}</h1>

  {{ govukButton({
               text: "Home",
               href: "/"
               }) 
         }}
      
{% endblock %}
